
.lopo
   {
      display : flex;
      flex-flow: row wrap;
      height : 100vh;
      width : 100vw;
      background-color: rgb(171, 236, 236);
      text-align: center;
   }  
.lopo  *
   {
      
      border-radius: 8px; 
      font-size: 20px;
      color : white;
    
   }
*
   {
     padding : 0;
     margin : 0;
     box-sizing: border-box;
   }
.header
    {
        background:rgb(72, 158, 155) ;
        padding: 50px;
        flex-basis: 100%;
        margin : 10px;
    }
.footer 
    {
        background : rgb(72, 158, 155);
        padding : 50px;
        order : 4;
        flex-basis: 100%;
        margin : 10px;
    }
.navigation
    {
        background :#4f9f39;
        padding : 50px;
        flex-basis: 100%;
        margin : 10px;
    }
.cs
    {
        flex : 4;
        flex-direction : row;
        order : 3;
        margin: 10px;

    }
.content
    {
        background :rgb(34, 170, 224);
        margin : 0 0 10px 0;
        padding : 60px;
    }
.section 
    {     
        background:rgb(46, 46, 175);
        margin : 10px 0 0 0 ;
        padding : 60px;
    }
.aside
    {
        background :rgb(5, 246, 5);
        flex-direction :column;
        padding : 150px;
        order : 1;
         flex : 1;
          margin : 10px;
    }
