*  {
     background-color: rgb(168, 207, 207);
   }

h1,h2
    {
        background-color: rgb(153, 166, 177);
        color :rgb(122, 35, 61) ;
        text-align :center;
        border:inset;
        border-color:rgb(100, 58, 5);
    }

div:empty
    {
        height : 25px;
        width: 175px;
        background:rgb(218, 70, 70);
    }    

a
    {
        background-color:yellow;
        font-size : 22px;

    }
a:visited
    {
        color:rgb(197, 43, 69);
    }
a:active
    {
        background-color : rgb(105, 35, 7);
    }
[lang]
    {
        background-color: rgb(236, 204, 204);
        color :rgb(59, 28, 51);
        font-size : 20px;

    }  
input 
    {   
        height : 25px;
        width : 25px;
    }   
button:default
    {
        box-shadow:2px 2px 2px 2px rgb(226, 120, 120) ;
      
    }
#para1
    {   
        background-color: rgb(133, 175, 175);
        color : rgb(103, 103, 182);
        text-align :justify;
    }

#para1:before 
    {
        content : "Read this - " ;
        background-color : white;
        color :rgb(122, 35, 61);
        font-size : 20px;
    }
p::selection
   {
        background : yellow;
   }
p:last-child
    {
        background-color :rgb(147, 147, 216)
    }
input[type=text]:enabled   
    {
        
        height:25px;
        width:100px;
    }  
input[type=text]:disabled 
    {
       
        height : 25px;
        width : 100px;
    } 
input:focus
    { 
        background-color:rgb(207, 207, 148);
    }  
input:in-range  
    {
        border:2px solid blue;
        padding : 5px;
    } 
input:required
   {
        background-color:rgb(255, 255, 0)
   }  
.pa1 
    {
        font-size: 20px;
        background-color:rgb(156, 106, 163);
        color:rgb(223, 202, 202);
        text-align: justify;
    }
.pa1::after
    {
        content : " - Remember this";
        background-color: rgb(198, 198, 226);
        color :rgb(209, 152, 152)
    }

[title~="the_blue_jackal"]
    {
        border : 25px solid rgb(65, 32, 13);
    }
.large 
   {
         font-size: 45px;
         font-family: cursive;
         text-decoration-line: underline;
         text-decoration-style: wavy;
         text-align: justify;
         background-color: rgb(214, 197, 171);
         color:rgb(90, 31, 31);
   }
.paragraph
   {
         font-size: 20px;
         font-family: Geneva;
         text-align: left;
         background-color: rgb(222, 243, 163);
         color:rgb(59, 28, 51); 
   }

div[class*="Jungle"]
   {
         background-color: rgb(66, 121, 131);
         font-size : 20px;
   }
i:first-child 
   {
        background-color:rgb(233, 233, 75);
   }
pre:first-letter 
   {
        font-size : 200%;
        color: #8A2BE2;
   }
#para2::first-line
    {
        background-color : rgb(119, 216, 119);
    }

hr
    {
        padding:3px ;
        
    }
button:fullscreen 
    {
        background-color: yellow;
    }
button 
    {
        padding: 15px;
        font-size: 15px;
    }      
button:hover
   {
        background-color: rgb(22, 175, 124);   
}