
body  
    {
        background-color: skyblue;
    }
.dolor
    {
      display : flex;
      flex-flow: row wrap;
      text-align : center; 
    }
 .dolor > *
    {
      padding :8px;
      margin :10px;
      flex :  1 100%;
      border-radius: 8px;
    }
.header
    {
      background:red;
    height:120px;
    }
.footer
    {
        background : aqua;
        height:80px;
    }

.flex-container 
   {
       text-align:center;
       background-color: orange;  
       height:500px;
       flex-flow:row wrap;
       align-items :flex-end;
      
    }

.aside1
    {    
        
         background: lightgreen;
         height : 500px;
         justify-content:first baseline;
         text-align :center;
    
    }

    @media all and (min-width:800px)
     {
     
    .flex-container
        {
           flex : 3; 
        }
    .aside1
        {
           order :1;
        }
    .flex-container
       {
           order :2;
       } 
    .footer 
        {
           order :4;
        }
     }
@media all and (min-width:600px){
    .aside {
        flex:1;
    }
}
