<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="layouts.css">
</head>
<body>
    <div class="container">
     <header>
        <div class="pic1"></div>
        <div class="pic2"></div>
   
        <div class="logo"></div>
        <div class="you">You

          <!--  <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Photostream</a</li>
                <li><a href="#">Albums</a></li>
                <li><a href="#">Faves</a></li>
                <li><a href="#">Galleries</a></li>
                <li><a href="#">Group</a></li>
                <li><a href="#">Camera Roll</a></li>
                <li><a href="#">People</a></li>
                <li><a href="#">Organize</a></li>
            </ul>-->
            
        </div>
        <div class="explore">Explore</div>
        <div class="print">Prints</div>
        <div class="getpro">Get Pro</div>
        <div class="click">      
       <input type="text" class="search-click" placeholder="Photos,people or groups">
       <button class="icon-click"></button> 
        </div> 
           <div class="pic3"></div>
           <div class="pic4"></div>
           <div class="pic5"></div>
      </header>
     <nav>
        <div class="nav1">
        <ul>
        <li class="photos"><a href="#">Photos</a></li>
        <li class="people"><a href="#">People</a></li>
        <li class="groups"><a href="#">Groups</a></li>
        </ul>
        </div>
       </nav>

            <div class="nav2">
            <div class="container1">
                <div class="container2">
            <div class="colorpalette">
                <div class="box box1">
                    <span class="tooltip">Red</span>
                </div>
                <div class="box box2">
                    <span class="tooltip">Dark orange</span>
                </div>
                <div class="box box3">
                    <span class="tooltip">orange</span>
                 </div>
                <div class="box box4">
                    <span class="tooltip">Pale pink</span>
                </div>
                <div class="box box5">
                    <span class="tooltip">Lemon yellow</span>
                </div>
                <div class="box box6">                  
                    <span class="tooltip">School bus yelloew</span>
                </div>
                <div class="box box7">
                    <span class="tooltip">Green</span>
                </div>
                <div class="box box8">
                    <span class="tooltip">Dark lime green</span>
                </div>
                <div class="box box9">
                    <span class="tooltip">Cyan</span>
                </div>
                <div class="box box10">
                    <span class="tooltip">blue</span>
                </div>
                <div class="box box11">
                    <span class="tooltip">Violet</span>
                </div>
                <div class="box box12">
                    <span class="tooltip">Pink</span>
                </div>
                <div class="box box13">
                    <span class="tooltip">White</span>
                </div>
                <div class="box box14">
                    <span class="tooltip">Gray</span>
                </div>
                <div class="box box15">
                    <span class="tooltip">Black</span>
                </div>
            </div>
            <div class="image">

                <div class="img3">
                    <span class="tooltip">Black and white</span>
                </div>
                <div class="img4">
                    <span class="tooltip">Shallow depth of field</span>
                </div>
                <div class="img5">
                    <span class="tooltip">Minimalist</span>
                </div>
                <div class="img6">
                    <span class="tooltip">Patterns</span>
                </div>
            </div>
            </div>
            <div class="container3">
            <div class="advanced">Advanced
                <span class="tooltip">Toggle advanced</span>
            </div>
            <div class="toggle">
                <span class="tooltip">Toogle advanced</span>
            </div>
        </div>
        </div>
        </div>
        </div>
    
     <aside>
      <div class="aside1"></div>
      <div class="aside2"></div>
     </aside>
     <main>
      
     </main>
    
</body>
</html>

