<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="layouts.css">
</head>
<body>
   <!-- <div class="container">
     <header>
        <div class="pic1"></div>
        <div class="pic2"></div>
   
        <div class="logo"></div>
    
            
        <div class="menu you">You
             <div class="submenu1">
           <ul>
                <li>About</li>
                <li>Photostream</li>
                <li>Albums</li>
                <li>Faves</li>
                <li>Galleries</li>
                <li>Group</li>
                <li>Camera Roll</li>
                <li>People</li>
                <li>Organize</li>
            </ul>
            </div>
        </div>
        <div class="menu explore">Explore</div>
        <div class="menu print">Prints</div>
        <div class="menu getpro">Get Pro</div>
        
        </div>
        <div class="click">      
       <input type="text" class="search-click" placeholder="Photos,people or groups">
       <button class="icon-click"></button> 
        </div> 
           <div class="pic3"></div>
           <div class="pic4"></div>
           <div class="pic5"></div>
      </header>
     <nav>
        <div class="nav1">
        <ul>
        <li class="photos"><a href="#">Photos</a></li>
        <li class="people"><a href="#">People</a></li>
        <li class="groups"><a href="#">Groups</a></li>
        </ul>
        </div>
       </nav>

            <div class="nav2">
            <div class="container1">
                <div class="container2">
            <div class="colorpalette">
                <div class="box box1">
                    <span class="tooltip">Red</span>
                </div>
                <div class="box box2">
                    <span class="tooltip">Dark orange</span>
                </div>
                <div class="box box3">
                    <span class="tooltip">orange</span>
                 </div>
                <div class="box box4">
                    <span class="tooltip">Pale pink</span>
                </div>
                <div class="box box5">
                    <span class="tooltip">Lemon yellow</span>
                </div>
                <div class="box box6">                  
                    <span class="tooltip">School bus yelloew</span>
                </div>
                <div class="box box7">
                    <span class="tooltip">Green</span>
                </div>
                <div class="box box8">
                    <span class="tooltip">Dark lime green</span>
                </div>
                <div class="box box9">
                    <span class="tooltip">Cyan</span>
                </div>
                <div class="box box10">
                    <span class="tooltip">blue</span>
                </div>
                <div class="box box11">
                    <span class="tooltip">Violet</span>
                </div>
                <div class="box box12">
                    <span class="tooltip">Pink</span>
                </div>
                <div class="box box13">
                    <span class="tooltip">White</span>
                </div>
                <div class="box box14">
                    <span class="tooltip">Gray</span>
                </div>
                <div class="box box15">
                    <span class="tooltip">Black</span>
                </div>
            </div>
            <div class="image">

                <div class="img3">
                    <span class="tooltip">Black and white</span>
                </div>
                <div class="img4">
                    <span class="tooltip">Shallow depth of field</span>
                </div>
                <div class="img5">
                    <span class="tooltip">Minimalist</span>
                </div>
                <div class="img6">
                    <span class="tooltip">Patterns</span>
                </div>
            </div>
            </div>
            <div class="container3">
            <div class="advanced">Advanced
                <span class="tooltip">Toggle advanced</span>
            </div>
            <div class="toggle">
                <span class="tooltip">Toogle advanced</span>
            </div>
        </div>
        </div>
        </div>
        </div>
    
     <aside>
      <div class="aside1"></div>
      <div class="aside2"></div>
     </aside>
     <main>
      
     </main>
    ______________________________________________________________________________________________--->


      <header>
           <div class="img pic1"></div>
           <div class="img pic2"></div>
           <div class="img logo"></div>
       
               
           <div class="menu you">You
               <div class="submenu1">
              <ul>
                   <li>About</li>
                   <li>Photostream</li>
                   <li>Albums</li>
                   <li>Faves</li>
                   <li>Galleries</li>
                   <li>Group</li>
                   <li>Camera Roll</li>
                   <li>People</li>
                   <li>Organize</li>
               </ul>
               </div>
          </div>
           <div class="menu explore">Explore</div>
           <div class="menu print">Prints</div>
           <div class="menu getpro">Get Pro</div>
           
           </div>
           <div class="click">      
          <input type="text" class="search-click" placeholder="Photos,people or groups">
          <button class="icon-click"></button> 
           </div> 
              <div class="pic3"></div>
              <div class="pic4"></div>
              <div class="pic5"></div>
         </header>
         <nav>
           <div class="nav1">
           <ul>
           <li class="photos">Photos</li>
           <li class="people">People</li>
           <li class="groups">Groups</li>
           </ul>
           </div>
          </nav>
          


              <!-- <div class="nav2">
               <div class="container1">
                   <div class="container2">
               <div class="colorpalette">
                   <div class="box box1">
                       <span class="tooltip">Red</span>
                   </div>
                   <div class="box box2">
                       <span class="tooltip">Dark orange</span>
                   </div>
                   <div class="box box3">
                       <span class="tooltip">orange</span>
                    </div>
                   <div class="box box4">
                       <span class="tooltip">Pale pink</span>
                   </div>
                   <div class="box box5">
                       <span class="tooltip">Lemon yellow</span>
                   </div>
                   <div class="box box6">                  
                       <span class="tooltip">School bus yelloew</span>
                   </div>
                   <div class="box box7">
                       <span class="tooltip">Green</span>
                   </div>
                   <div class="box box8">
                       <span class="tooltip">Dark lime green</span>
                   </div>
                   <div class="box box9">
                       <span class="tooltip">Cyan</span>
                   </div>
                   <div class="box box10">
                       <span class="tooltip">blue</span>
                   </div>
                   <div class="box box11">
                       <span class="tooltip">Violet</span>
                   </div>
                   <div class="box box12">
                       <span class="tooltip">Pink</span>
                   </div>
                   <div class="box box13">
                       <span class="tooltip">White</span>
                   </div>
                   <div class="box box14">
                       <span class="tooltip">Gray</span>
                   </div>
                   <div class="box box15">
                       <span class="tooltip">Black</span>
                   </div>
               </div>
               <div class="image">
   
                   <div class="img3">
                       <span class="tooltip">Black and white</span>
                   </div>
                   <div class="img4">
                       <span class="tooltip">Shallow depth of field</span>
                   </div>
                   <div class="img5">
                       <span class="tooltip">Minimalist</span>
                   </div>
                   <div class="img6">
                       <span class="tooltip">Patterns</span>
                   </div>
               </div>
               </div>
               <div class="container3">
               <div class="advanced">Advanced
                   <span class="tooltip">Toggle advanced</span>
               </div>
               <div class="toggle">
                   <span class="tooltip">Toogle advanced</span>
               </div>
           </div>
           </div>
           </div>
           </div>
       
        <aside>
         <div class="aside1"></div>
         <div class="aside2"></div>
        </aside>
        <main>
         
        </main>-->
        <div class="nav2">
            <div class="con1">
                <div class="con2">
                    <div class="colorpalette">
                        <div class="box box1"></div>
                        <div class="box box2"></div>
                        <div class="box box3"></div>
                        <div class="box box4"></div>
                        <div class="box box5"></div>
                        <div class="box box6"></div>
                        <div class="box box7"></div>
                        <div class="box box8"></div>
                        <div class="box box9"></div>
                        <div class="box box10"></div>
                        <div class="box box11"></div>
                        <div class="box box12"></div>
                        <div class="box box13"></div>
                        <div class="box box14"></div>
                        <div class="box box15"></div>
                    </div>
                    <div class="pattern">
                        <div class="img3"></div>
                        <div class="img4"></div>
                        <div class="img5"></div>
                        <div class="img6"></div>
                    </div>
                    <div class="con3">
                    <div class="images">Advanced</div>
                    <div class="toggle"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="main">
                <div class="line1">
                    <div class="left">
                        <div class="left1">Any license</div>
                        <div class="image1"></div>
                        <div class="left2">SafeSearch On</div>
                        <div class="image2"></div>
                    </div>
                    <div class="right">
                        <div class="image3"></div>
                        <div class="right1">Share</div>
                        <div class="right2">Relevant</div>
                        <div class="image4"></div>
                        <div class="image5"></div>
                        <div class="image6"></div>
                        <div class="image7"></div>
                    </div>
                </div>
                <div class="line2">
                    <div class="lr1">
                    <div class="left3">Sponsored Image from<strong>iStock</strong></div>
                    </div>
                    <div class="lr2">
                    <div class="right3">10 free downloads.Any monthy plan.Use code:FLICKR10 </div>
                    </div>
                </div>
                
            </div>
            <div class="sub"></div>
        </div>
    
</body>
</html>

                


            <!--<div class="line3"></div>
                <div class="line4"></div>
                <div class="line5"></div>
                <div class="line6"></div>
                <div class="line7"></div>
                <div class="line8"></div>
                <div class="line9"></div>
                <div class="line10"></div>-->