*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container
{
    display:grid;
    height:100vh;
    width:100vw;
    row-gap:0;
}
header
{
    display:grid;
    width:100vw;
    height:7vh;
    background: black;
    grid-template-columns:repeat(19,1fr);
    
}
.pic1
{
    grid-column:3;
    grid-row: 1;
    background-image: url(img1.png);
    background-position: -395px -193px;
    width:87px;
    height:87px;
    transform: scale(.2);
    position:relative;
    bottom:14%;
    left:1%;
    line-height: 2.8;
}
.pic2
{
    grid-column:3;
    grid-row: 1;
    background-image: url(img1.png);
    background-position: -301px -191px;
    width:88px;
    height:93px;
    transform: scale(.2);
    position:relative;
    bottom:17%;
    right:5%;
    line-height: 2.8;
}
.logo
{
     grid-column: 3;
     grid-row: 1;
     background-image: url(img1.png);
     background-position: 0px -463px;
     width:304px;
     height:101px;
     transform: scale(.3);
     position:relative;
     bottom: 25%;
     left:-15%;
}
.logo:hover
{
    opacity:0.7;
}
.you
{
    grid-column: 4;
    grid-row: 1;
    color:white;
    font-size: 23px;
    line-height:2.8;
    position: relative;
    right:90%;
}
.you:hover
{
    color: lightgray;
}
/*.menu1
{
    display: flex;
    position: absolute;
    text-align: center;
    background-color:white;
    list-style: none;
}
.menu1 ul
{
    display: inline-flex;
    list-style: none;
    color:#fff;
}
.menu1 ul li
{
    width:120px;
    margin:15px;
}
.menu1 ul li a
{
    text-decoration: none;
    color:#fff;
}
.you, .menu1 ul li:hover
{
    background: white;
    border-radius: 3px;
}
.submenu1
{
    display:flex;
    flex-wrap: column;
}
.submenu1 ul 
{
    display:inline-flex;
     list-style: none;
    color:#fff;
      
}
.submenu1 ul li
{
    width:60px;
    margin:10px;
}
.submenu1 ul li a
{
    text-decoration: none;
    color:#fff;
}
.submenu1 ul li a:hover
{
     width:150px;
    border-radius: 0;
    text-align:center;
    background: transparent;
    border-bottom: none;
}

.menu1 ul li:hover .submenu1 ul li
{
    width:150px;
    border-radius: 0;
    text-align:center;
    background: transparent;
    border-bottom: none;
}
.you ul li:hover .submenu1 ul li:hover
{
    color:black;
}
.you ul{
    display: flex;
}
.you ul li
{
    display:inline-flex;
    list-style-type: none;
    outline: none;
}
.you ul li a
{
    text-decoration: none;
    color:black;
    
}
.you ul li a:hover
{
    width:150px;
    border-radius: 0;
    text-align:center;
    background: transparent;
    border-bottom: none;
}
*/
.explore
{
    grid-column: 5;
    grid-row: 1;
    color:white;
    line-height:2.8;
    font-size: 23px;
    position: relative;
    right:80%;
}
.explore:hover
{
    color:lightgray;
}
.print
{
    grid-column:6;
    grid-row: 1;
    color:white;
    font-size: 23px;
    line-height:2.8;
    position: relative;
    right:60%;
}
.print:hover
{
    color:lightgray;
}
.getpro
{
    grid-column:7;
    grid-row: 1;
    font-size: 23px;
    color:white;
    line-height:2.8;
    position: relative;
    right:70%;
} 
.getpro:hover
{
    color:lightgray;
}
.click
{
    display:grid;
    grid-column:13/15;
    grid-row: 1;
    left:0;
}
input
{
    position:relative;
    top:5%;
    right:40%;
    font-size: 17px;

}
.icon-click
{
    outline:none;
    grid-column:13/15;
    grid-row: 1;
}
.icon-click
{
   
    background-image:  url(img1.png);
    background-position:-631px -465px;
    width:41px;
    height:40px;
    border:none;
    background-color: lightgray;
    transform: scale(.7);
    position:relative;
    top:8%;
    right:37%;
    z-index:5;
}
/*.icon-click
{
    background:#fff;
    outline: none;
    border-radius: 3px;
    transition: 0.5s linear;
}*/
.icon-click:focus 
{
    width:400px;
    background-color: #fff;
    outline: none;
    transition-duration: 0.4s;

}

.search-click::placeholder
{
    position:relative;
    left:1%;
}
.search-click 
{
    grid-column:13/15;
    grid-row: 1;
    background: lightgray;
    outline: none;
    border-radius: 7px;
    width: 300px;
    height: 50px;
    transition: 0.5s linear;

}
.search-click:focus 
{
    width: 400px;
    background-color: #fff;
    outline:none;
    transition-duration: 0.4s;
}

.search-click input
{
    background:lightgray;
    outline: none;
    position:absolute;
    right:15%;
}
input[type=text]
{
    text-indent:20%;
}
.pic3
{   
    grid-column:16;
    grid-row: 1;
    background-image: url(img1.png);
    background-position:-822px -894px;
    width:63px;
    height:45px;
    position: relative;
    top:13%;
    left:10%;
    transform: scale(.7);
}
.pic3:hover
{
    opacity:0.7;
}
.pic4
{
    background-image: url(img1.png);
    background-position:-988px -839px;
    width:52px;
    height:47px;
    grid-column: 17;
    grid-row: 1;
    position: relative;
    top:13%;
    transform: scale(.7);
}
.pic4:hover
{
    opacity:0.7;
}
.pic5
{
    background-image: url(img2.png);
    background-position: 0px 0px;
    height:48px;
    width:48px;
    border-radius: 27px;
    grid-column: 18;
    grid-row: 1;
    position: relative;
    top:11%;
    right:14%;
    transform: scale(.8);
}
.pic5:hover
{
    opacity:0.7;
}
nav
{
    display:flex;
    width:80vw;
    height:7vh;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
    background:#fff;
    flex-direction:row;
    flex-wrap: nowrap;
    cursor: pointer;
    gap: 40px 40px;
    position: relative;
    align-items:center;
    border-bottom:0.9px solid rgba(0, 0, 0, 0.278);
    bottom:68%;
    padding:5px;
    transition-duration: 0.4s ease-in;
    
}
nav ul li
{
    display:inline-flex;
    list-style-type: none;
    outline: none;

}
nav ul li a
{
    text-decoration: none;
    color:black;
    
}


.photos
{
    padding:20px;
}
.photos:hover
{
    border-bottom: 4px solid blue;
}
.people
{
    padding:20px;
}
.people:hover
{
    border-bottom: 4px solid blue;
    
}
.groups
{
    padding:20px;
}
.groups:hover
{
    border-bottom: 4px solid blue;

}
/*.aside1
{
    grid-column: 1;
    grid-row: 1;
}
.aside2
{
    grid-column: 2;
    grid-row: 1;
}*/
