*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(245, 227, 200);
}
.container
{
    display:grid;
    height:100vh;
    width:100vw;
    border :10px solid rgb(245, 227, 200);
    gap :10px;
    font-size: 50px;
    
}
.c1
{
    background-color: brown;
    grid-column:1/span 2;
   
    
}
.c2
{
    background-color: black;
    grid-column :3/span 6;
    color :white;
  
}
.c3
{
    background-color: lightgreen;
    grid-row:2/span 6;
}
.c4
{
    background-color: blue;
    grid-column:2/span 5;
}
.c5
{
    background-color: red;
    grid-row-start:2;
    grid-row-end: 2;
}
.c6
{
    background-color: rgb(249, 201, 209);
    grid-row-start:4;
    grid-row-end:4;
}
.c7
{
    background-color:rgb(249, 201, 209);
    grid-row-start:4;
    grid-row-end: 4;
}
.c8
{
    background-color: red;
    grid-row-start:4;
    grid-row-end: 4;
}
.c9
{
    background-color:  rgb(249, 201, 209);
    grid-row: 5/span 5;
}
.c10
{
    background-color: rgb(249, 201, 209);
    grid-row: 5/span 5;
}
.c11
{
    background-color: orange;
    grid-row: 6;
}