/* body{  
    font-family: Calibri, Helvetica, sans-serif;  
    background-color: pink;  
    display:flex;
    align-items: center;
    justify-content: center;
  }  
  .container {  
    width: 90%; 
    display:grid;
    align-items: center;
    justify-self: center;
    background-color: lightblue;  
  }  
    
  input[type=text], input[type=password], textarea {  
    width: 90%;  
    padding: 15px;  
    margin: 5px 0 22px 0;  
    display: inline-block;  
    border: none;  
    background: #f1f1f1;  
  }  
  input[type=text]:focus, input[type=password]:focus {  
    background-color: orange;  
    outline: none;  
  }  
   div {  
              padding: 10px 0;  
           }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 100%;  
    opacity: 0.9;  
  }  
  .registerbtn:hover {  
    opacity: 1;  
  }   */

  /* *,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    }
    body{
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: #068abc;
    color: #000;
    display: flex;
    min-height: 100vh;
    justify-content: space-around;
    align-items: center;
    }
    .form_box{
    width: 450px;
    background:#ffffff;
    padding: 30px;
    border-radius: 7px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    }
    h1{
        text-align: center;
        margin-top: 0;
        margin-bottom: 50px;
      }
      .input-row{margin-bottom: 13px; position: relative;}
.form_box input:not([type=”submit”]),
.form_box textarea,
.form_box select{
font-family: arial;
width: 100%;
margin: 0 0 3px;
padding: 13px 15px;
font-size: 20px;
color: #000;
border-radius: 5px;
background: #d3d1d1;
border: 1px solid transparent;
}
*::-webkit-input-placeholder {
opacity: 1;
color: inherit;
}
.form_box textarea{ height: 100px; resize: none; }
.error{
font-weight: 700;
font-size: 14px;
color: red;
display: none;
}
.form_box input[type=”submit”]{
    padding: 10px 50px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    border:0;
    color: #fff ;
    background: #00668d;
    margin: 0 auto;
    display: block;
    }
    .form_box input[type=”submit”]:hover{ background: #000; } */

    *,*:after,*:before{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        }
        body{
        font-family: arial;
        font-size: 16px;
        margin: 0;
        background: #068abc;
        color: #000;
        display: flex;
        min-height: 100vh;
        justify-content: space-around;
        align-items: center;
        }
        
        .form_box{
        width: 450px;
        background:#ffffff;
        padding: 30px;
        border-radius: 7px;
        box-shadow: 0 0 20px rgba(0,0,0,0.2);
        }
        h1{
          text-align: center;
          margin-top: 0;
          margin-bottom: 50px;
        }
        .input-row{margin-bottom: 13px; position: relative;}
        .form_box input:not([type="submit"]),
        .form_box textarea,
        .form_box select{
        font-family: arial;
        width: 100%;
        margin: 0 0 3px;
        padding: 13px 15px;
        font-size: 20px;
        color: #000;
        border-radius: 5px;
        background: #d3d1d1;
        border: 1px solid transparent
        }
        *::-webkit-input-placeholder {
        opacity: 1;
        color: inherit;
        }
        .form_box textarea{ height: 100px; resize: none; }
        
        .form_box input[type="submit"]{
        padding: 10px 50px;
        font-size: 20px;
        cursor: pointer;
        border-radius: 5px;
        border:0;
        color: #fff ;
        background: #00668d;
        margin: 0 auto;
        display: block;
        }
        .form_box input[type="submit"]:hover{ background: #000; }
        
        .error{
        display: block;
        font-weight: 700;
        font-size: 14px;
        color: red;
        display: none;
        }
        